.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    max-width: 50%;
}

.startGame {
    max-width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.demand {
    max-width: 50%;
}

.globaDemandRed {
    max-width: 50%;
    padding-top: 20px;
    color: #D22525;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.resourceImage {
    width: 60px;
    padding-left: 10px;
}

.cards {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px 270px;
    grid-gap: 5px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
}


.woo {
    padding-left: 200px;
}

.person {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    font-size: 130%;
}

h3 {
    padding-bottom: 10px;
    padding-top: 20px;
}